@charset "UTF-8";
.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-pr {
  position: relative; }

.g-top {
  background: #f3f3f3; }

.m-topbanner {
  width: 1202px;
  height: 36px;
  margin: 0 auto;
  background-color: #f3f3f3; 

  .m-topbanner .u-tips {
    font: 0.33333 "Micro Yahei";
    color: #333; }
  .m-topbanner .u-look {
    font: 12px/36px "Micro Yahei";
    color: #21a557; }
  .m-topbanner .m-close {
    cursor: pointer; }
  .m-topbanner .u-closeicon {
    width: 9px;
    height: 9px;
    margin-top: 14px;
    margin-right: 6px; }
  .m-topbanner .u-closetips {
    font: 0.33333 "Micro Yahei";
    color: #333; }

.g-hd {
  height: 89px; }

.m-hd {
  width: 1202px;
  height: 89px;
  margin: 0 auto; }
  .m-hd .title {
    height: 89px; }
    .m-hd .title .u-title-en {
      font: bold 0.31461 "Gill Sans MT";
      color: #39a030; }
    .m-hd .title .u-title-ch {
      font: bold 0.31461 "Hiragino Sans GB";
      color: #333; }
  .m-hd .urserAttr {
    margin-top: 34px; }
    .m-hd .urserAttr .userAttr-follow {
      width: 54px;
      height: 21px;
      margin: 0 14px 0 31px;
      background-color: #39a030;
      cursor: pointer; }
    .m-hd .urserAttr .userAttr-fans {
      font: 12px/21px "宋体";
      color: #666; }
  .m-hd .nav-course {
    margin-top: 34px; }
    .m-hd .nav-course a {
      margin-left: 54px;
      font: 16px/20px "Hiragino Sans GB";
      color: #666; }
    .m-hd .nav-course a:hover {
      color: #39a030; }
    .m-hd .nav-course .search {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-left: 30px;
      background-color: #666; }

.g-wrap {
  background: #f3f3f3; }

.g-ft {
  height: 262px;
  min-width: 1202px;
  background-color: #2c3339; 
}
